<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Back End</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#" ng-click="logout()">Keluar</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#!/dashboard">Dashboard <span class="sr-only">(current)</span></a>/li>
            <li><a href="#!/dashboard_category">Kategori Makanan</a></li>
            <li class="active"><a href="#!/dashboard_recipes">Makanan</a></li>
            <li><a href="#!/dashboard_slider">Slider</a></li>
            <li><a href="#!/dashboard_order">Pesanan</a></li>
			<li><a href="#!/dashboard_users">Pengguna</a></li>          
          </ul>
         
        </div>
          <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Makanan</h1>
            <div class="row" ng-controller="RecCtrl">
       
   
    <div class="table-responsive" ng-show="addShowForm">
       <a href="#!/dashboard_add_recipe"><button class="btn btn-success" >Tambah</button></a> 
       <table class="table table-striped" >
        <thead>
            <tr>
                
                <th>Nama Makanan</th>
                <th>Category</th>
                <th>Action</th>
            </tr> 
           </thead>
           <tbody>
           <tr ng-repeat="rec in recs">
               
               <td>{{rec.name}}</td>
               <td>{{rec.category}}</td>
               
               <td><a class="btn btn-default" ng-click="ShowEditForm(rec)">Ubah</a>
                   <a class="btn btn-danger" ng-click="removeRec(rec)">Hapus</a>
               </td>
            </tr> 
           
           </tbody>
        
        </table>
         
    </div>
     <div class="col-md-5" ng-show="editShowForm">
    <h3>Ubah Makanan</h3>
        <form ng-submit="editRec()">
  <div class="form-group">
    <label>Nama Makanan</label>
    <input type="text" class="form-control" ng-model="name"  placeholder="name">
  <label>Keterangan</label>
    <input type="text" class="form-control" ng-model="description"  placeholder="description">
         <label>Kategori Makanan</label>
      <br>
      
      <select ng-model="category">
          <option ng-repeat="cat in catids">{{cat.id}}</option>
</select>
  <br>

      <label>Gambar Makanan (URL)</label>
    <input type="text" class="form-control" ng-model="image"  placeholder="image">
      <label>Harga</label>
    <input type="text" class="form-control" ng-model="price"  placeholder="price">
  </div>
  <button type="submit" class="btn btn-default">Simpan</button>
             <button class="btn btn-danger" ng-click="cancelCat()">Kembali</button>
           
</form>
    
     </div>

</div>

            
        </div>
              </div>
      </div>
    </div>




